# Entorno virtual
.venv/
*.pyc

# Carpetas con imágenes procesadas
/train_img/
/aligned_img/
*.npy
*.pb

# Modelos preentrenados y generados
/model/
/class/
/npy/

# Archivos temporales de Python
__pycache__/
/*.py[cod]
*/__pycache__/

# Archivos de sistema y editores
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.log
*.back
*.temporales
*.tmp


